        <nav class="bar bar-tab bar-footer" ng-controller="NavBarCtrl">
            <a class="tab-item" ng-class="{ active: navBarActive('/')}" href="/">
                <span class="icon icon-home"></span><span class="tab-label">Home</span>
            </a>
            <a class="tab-item" ng-class="{ active: navBarActive('/Airports')}" href="/#Airports">
                <span class="icon icon-list"></span><span class="tab-label">Airports</span>
            </a>
            <a class="tab-item" ng-class="{ active: navBarActive('/Blog')}" href="/#Blog">
                <span class="icon icon-star-filled"></span><span class="tab-label">Blog</span>
            </a>
        </nav>
