        <div class="content" ng-controller="SearchCtrl">
            <div class="content-padded">
                <h3>What are you looking for?</h3>
                <form>
                    <input type="search" placeholder="Search">
                    <button class="btn btn-positive btn-block">Find It</button>
               </form>
            </div>
            <ul class="table-view">
                <li class="table-view-cell">Sample Listing 1</li>
                <li class="table-view-cell">Sample Listing 2</li>
                <li class="table-view-cell">Sample Listing 3</li>
                <li class="table-view-cell">Sample Listing 4</li>
                <li class="table-view-cell">Sample Listing 5</li>
                <li class="table-view-cell">Sample Listing 6</li>
                <li class="table-view-cell">Sample Listing 7</li>
                <li class="table-view-cell">Sample Listing 8</li>
                <li class="table-view-cell">Sample Listing 9</li>
            </ul>
        </div>
